<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="container">
  <form id="Friends-form" method="POST">

    <div class="labels">
      <label id="firstName-label" for="FirstName">* First Name</label>
    </div>
    <div class="input-tab">
      <input class="input-field" type="text" id="firstName" name="name" placeholder="Enter your first name" required autofocus>
    </div>

    <div class="labels">
      <label id="lastName-label" for="lastName">* Last Name</label></div>
    <div class="input-tab">
      <input class="input-field" type="text" id="LastName" name="name" placeholder="Enter your last name" required autofocus>
    </div>

    <div class="labels">
      <label id="email-label" for="email">* Email</label></div>
    <div class="input-tab">
      <input class="input-field" type="email" id="email" name="email" placeholder="email@email.com" required></div>

    <div class="labels">
      <label id="telephoneNumber-label" for="phoneNumber">* Phone Number</label></div>
    <div class="input-tab">
      <input class="input-field" type="number" id="phoneNumber" name="number" min="1" max="120" placeholder="Enter your phone number" required></div>

    <div class="labels">
      <label for="dropdown">How do you watch South Park?</label></div>
    <div class="input-tab">
      <select id="dropdown" name="site">
        <option disabled value selected>Select an option</option>
        <option value="html">Html</option>
        <option value="css">Css</option>
        <option value="js">Javascript</option>
        <option value="php">Php</option>
        <option value="typescript">Typescript</option>
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>

    <div class="labels">
      <label>How much do you like South Park?</label></div>
    <div class="input-tab">
      <input type="radio" name="radio-button" value="love">I love it!<br>
      <input type="radio" name="radio-button" value="like">I like it<br>
      <input type="radio" name="radio-button" value="ok">It's ok<br>
      <input type="radio" name="radio-button" value="nah">Not really<br>
    </div>

    <div class="labels">
      <label for="dropdown">How many seasons of South Park have you watched?</label></div>
    <div class="input-tab">
      <select id="drop_down" name="seasons">
        <option disabled value selected>Select an option</option>
        <option value="<=5">0-5</option>
        <option value="<=10">6-10</option>
        <option value="<=15">10-15</option>
        <option value="<=21">15-21</option>
      </select>
    </div>

    <div class="labels">
      <label>Who do you watch South Park with?<br>(Check all that apply):</label></div>
    <div class="input-tab">
      <input type="checkbox" name="alone" value="alone">Alone<br>
      <input type="checkbox" name="friends" value="fr">Friends<br>
      <input type="checkbox" name="family" value="fam">Family<br>
      <input type="checkbox" name="partner" value="fam">Partner<br>
      <input type="checkbox" name="other" value="other">Other<br>
    </div>

    <div class="labels">
      <label for="comments">Tell us more about your favorite character(s) or episode(s)</label></div>
    <div class="input-tab">
      <textarea class="input-field" id="comments" name="comments" rows="10" cols="40" placeholder="Your comments..."></textarea></div>

    <div class="btn">
      <button id="submit" type="submit">Submit</button>
    </div>

  </form>
</div>
</body>
</html>
