{{ friendModel | json }}.

<form action="" method="post" #formName="ngForm" novalidate (ngSubmit)="submitForm()">
  <div class = "form-group">
  <label for="firstName" class="control-label">First Name: </label>
  <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="friendModel.firstName" id="firstName" placeholder="First Name"
        pattern="[a-zA-Z]+" [class.alert-danger]="firstName.invalid && firstName.touched" required>
    <div *ngIf="firstName.errors?.['required']">
      *required
    </div>
    <div *ngIf="firstName.errors?.['pattern']">
      your first name can not contain any numbers
    </div>
  </div>
  <label for="lastName" class="control-label">Last Name: </label>
  <input type="text" name="lastName" id="lastName" #lastName="ngModel" [(ngModel)]="friendModel.lastName" placeholder="Last Name"
         pattern="[a-zA-Z]+" [class.alert-danger]="lastName.invalid && lastName.touched" required>
  <div *ngIf="lastName.errors?.['required']">
    *required
  </div>
  <div *ngIf="lastName.errors?.['pattern']">
    your last name can not contain any numbers
  </div>
  <label for="email" class="control-label">Email: </label>
  <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="friendModel.email" placeholder="Email"
         [email]="true" [class.alert-danger]="email.invalid && email.touched" required>
  <div *ngIf="email.errors?.['required']">
    *required
  </div>
  <div *ngIf="email.errors?.['email']">
    your email is not valid
  </div>
  <label for="telephoneNumber" class="control-labels">Telephone Number: </label>
  <input type="text" name="telephoneNumber" id="telephoneNumber" #telephoneNumber="ngModel" [(ngModel)]="friendModel.phoneNumber" placeholder="Telephone Number" [class.alert-danger]="telephoneNumber.invalid && telephoneNumber.touched"
         pattern="^(((\+|00)32[ ]?(?:\(0\)[ ]?)?)|0){1}(4(60|[789]\d)\/?(\s?\d{2}\.?){2}(\s?\d{2})|(\d\/?\s?\d{3}|\d{2}\/?\s?\d{2})(\.?\s?\d{2}){2})$" required>
  <div *ngIf="telephoneNumber.errors?.['required']">
    *required
  </div>
  <div *ngIf="telephoneNumber.errors?.['pattern']">
    your phone number can not contain any letters
  </div>
  <label for="languages" class="control-labels">Languages: </label>
  <select name="languages" id="languages"  #language="ngModel" [(ngModel)]="friendModel.languages">
    <option *ngFor="let language of languages"  value = "{{language}}">
    {{language}}
    </option>
  </select>
  <button type="submit" name="submit" id="submit"  [disabled]="!formName.form.valid" >Submit</button>
</form>
